@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background: #131518;
  line-height: 1.6;
  font-size: 1.2rem;
  color: white;
}

.d-none {
  display: none;
}

div.star {
  width: 48px;
  height: 48px;
  background: #262E38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--dark-blue, #262E38);
}

.container {
  max-width: 412px;
  height: 416px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #252d37;
  border-radius: 30px;
  padding: 35px;
  border-radius: 30px;
  background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50.00% 0%, #232A34 0%, #181E27 100%));
}

.container p {
  color: #959eac;
}

.container .box-body {
  margin-top: 15px;
}

.container .box-body img {
  display: block;
  margin: auto;
}

.container .box-body h1 {
  font-family: Overpass;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .box-body p {
  color: #959eac;
  /* text-align: center; */
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container .box-body p.msg {
  margin-bottom: 20px;
  font-size: 15px;
}

.container .box-body p.error-msg {
  position: absolute;
  left: 50%;
  top: 52%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  text-align: center;
  color: red;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

.buttons button {
  font-size: 1.2rem;
  width: 51px;
  height: 51px;
  border: none;
  background: #262E38;
  color: #7C8798;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.buttons button:hover {
  background: #4e5f73;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.buttons button.selected {
  background: #FC7614;
  color: white;
}

.buttons button.error {
  border: 1px solid red;
}

.container .submit {
  font-family: 'Overpass', sans-serif;
  display: block;
  width: 341px;
  height: 45px;
  background: #fb7413;
  border: none;
  padding: 15px;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  font-feature-settings: 'clig' off, 'liga' off;
}

.container .submit:hover {
  background: #FFF;
  color: #FC7614;
}

.container #box-2 {
  text-align: center;
}

.container .selection-msg {
  padding: 10px 15px;
  color: #fb7413;
  background: #3a4655;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  text-align: center;
  font-family: Overpass;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 850px) {
  div.star {
    width: 30px;
    height: 30px;
  }

  .container {
    width: 327px;
    height: 360px;
    border-radius: 20px;
    padding: 15px;
    font-size: .9rem;
    line-height: 1.3;
  }

  .container h1 {
    font-size: 1.2;
  }

  .container .box-body {
    margin-top: 1rem;
  }

  .container .box-body img {
    display: block;
    margin: auto;
  }

  .container .box-body h1 {
    margin-top: 0.8rem;
    font-size: 24px;
  }

  .container .box-body p.msg {
    /* margin-bottom: 24px; */
    margin-top: 10px;
  }

  .container .box-body p.error-msg {
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }


  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 24px;
  }

  .buttons button {
    font-size: 1rem;
    width: 42px;
    height: 42px;
  }

  .container .submit {
    margin-top: 1rem;
    padding: 8px;
    width: 279px;
    height: 45px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.867px;
  }

  .container #box-2 h1 {
    margin-top: 10px;
  }

  .container #box-2 .selection-msg {
    font-size: .8rem;
    padding: 5px 13px;
    margin-top: 1.3rem;
    border-radius: 50px;
  }

  .container #box-2 img {
    width: 100px;
  }

  .container .box-body p {
    margin-top: 10px;
    font-family: Overpass;
    font-size: 14px;
  }
}